beautifulsoup4
cachetools
decorator
flake8
Flask >= 2.0.2
MarkupSafe
mwapi
mwoauth
pytest
mypy
PyYAML
requests
requests_oauthlib
SPARQLWrapper
toolforge
toolforge_i18n[Flask]
types-beautifulsoup4
types-cachetools
types-decorator
types-requests
types-PyYAML
