.somevalue,
.novalue {
    font-style: italic;
    color: #54595d; /* Base20 */
}

.statement-preferred .mainsnak::after {
    content: " (preferred rank)";
    color: #14866d; /* Green30 */
}

.statement-deprecated .mainsnak::after {
    content: " (deprecated rank)";
    color: #ac6600; /* Yellow30 */
}

/*
 * highlight “reason for preferred / deprecated rank” qualifiers,
 * when they match the statement’s rank…
 */
.statement.statement-preferred .rank-reason-preferred a,
.statement.statement-deprecated .rank-reason-deprecated a {
    font-weight: bold;
}

/*
 * …and even more so when they don’t
 */
.statement:not(.statement-preferred) .rank-reason-preferred a,
.statement:not(.statement-deprecated) .rank-reason-deprecated a {
    background: #b32424; /* Red30 */
    color: #fff; /* Base100 */
}

.qualifiers-list {
    margin-bottom: 0;
}

.snak-list {
    display: inline;
    padding: 0;
}

.snak-list > li {
    display: inline;
}

.snak-list > li:not(:first-child)::before {
    content: ", ";
}
