{% from "reason.html" import reason_input %}
{% extends "base.html" %}
{% block main %}
{% if not can_edit() %}
<div class="alert alert-warning" role="alert">
  {{ message('edit-must-log-in', url=url_for('login')) }}
</div>
{% endif %}
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="mb-3">
    <label class="form-label" for="query">{{ batch_query_collective_message(wiki) }}</label>
    <textarea
      class="form-control text-monospace"
      id="query"
      name="query"
      placeholder="SELECT ?statement WHERE {&#xa;  # ...&#xa;}"
      required
      rows="10"
      ></textarea>
  </div>
  {{ reason_input(wiki) }}
  <div class="mb-3">
    <label class="form-label" for="summary">{{ message('edit-label-summary') }}</label>
    <input name="summary" type="text" id="summary" class="form-control">
  </div>
  {% if can_edit() %}
  {% set disabled_attrs = '' %}
  {% else %}
  {% set disabled_attrs %}disabled title="{{ message('edit-must-log-in', url='') | striptags }}"{% endset %}
  {% endif %}
  <button
    type="submit"
    class="btn btn-primary"
    formaction="{{ url_for('batch_query_set_rank', wiki=wiki, rank='preferred') }}"
    {{ disabled_attrs }}>
    {{ message('edit-button-preferred') }}
  </button>
  <button
    type="submit"
    class="btn btn-secondary"
    formaction="{{ url_for('batch_query_set_rank', wiki=wiki, rank='normal') }}"
    {{ disabled_attrs }}>
    {{ message('edit-button-normal') }}
  </button>
  <button
    type="submit"
    class="btn btn-secondary"
    formaction="{{ url_for('batch_query_set_rank', wiki=wiki, rank='deprecated') }}"
    {{ disabled_attrs }}>
    {{ message('edit-button-deprecated') }}
  </button>
  <button
    type="submit"
    class="btn btn-secondary"
    formaction="{{ url_for('batch_query_increment_rank', wiki=wiki) }}"
    {{ disabled_attrs }}>
    {{ message('edit-button-increment') }}
  </button>
</form>
<p class="mt-3">
  {{ message('batch-query-collective-links', url_individual=url_for('show_batch_query_individual_form', wiki=wiki), url_list=url_for('show_batch_list_collective_form', wiki=wiki)) }}
</p>
{% endblock %}
