{% extends "base.html" %}
{% block main %}
{% if not can_edit() %}
<div class="alert alert-warning" role="alert">
  {{ message('edit-must-log-in', url=url_for('login')) }}
</div>
{% endif %}
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="form-group">
    <label for="query">{{ batch_query_individual_message(wiki) }}</label>
    <textarea
      class="form-control text-monospace"
      id="query"
      name="query"
      placeholder="SELECT ?statement ?rank WHERE {&#xa;  # ...&#xa;}"
      required
      rows="10"
      ></textarea>
  </div>
  <div class="form-group">
    <label for="summary">{{ message('edit-label-summary') }}</label>
    <input name="summary" type="text" id="summary" class="form-control">
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    formaction="{{ url_for('batch_query_edit_rank', wiki=wiki) }}"
    {% if not can_edit() %}
    disabled
    title="{{ message('edit-must-log-in', url='') | striptags }}"
    {% endif %}
    >
    {{ message('batch-individual-button-submit') }}
  </button>
</form>
<p class="mt-3">
  {{ message('batch-query-individual-links', url_collective=url_for('show_batch_query_collective_form', wiki=wiki), url_list=url_for('show_batch_list_individual_form', wiki=wiki)) }}
</p>
{% endblock %}
