{% extends "base.html" %}
{% block main %}
{% if not can_edit() %}
<div class="alert alert-warning" role="alert">
  You must <a href="{{ url_for('login') }}">log in</a> to make edits.
</div>
{% endif %}
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="form-group">
    <label for="query">
      {{ wiki | format_query_service }} query,
      selecting <code>?statement</code> and <code>?rank</code> variables
      (and optionally <code>?reason</code>,
      <code>?reasonForPreferredRank</code>
      and <code>?reasonForDeprecatedRank</code> as well,
      with the latter two taking precedence over the former):
    </label>
    <textarea
      class="form-control text-monospace"
      id="query"
      name="query"
      placeholder="SELECT ?statement ?rank WHERE {&#xa;  # ...&#xa;}"
      required
      rows="10"
      ></textarea>
  </div>
  <div class="form-group">
    <label for="summary">Edit summary (optional):</label>
    <input name="summary" type="text" id="summary" class="form-control">
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    formaction="{{ url_for('batch_query_edit_rank', wiki=wiki) }}"
    {% if not can_edit() %}
    disabled
    title="You must log in to make edits."
    {% endif %}
    >
    Edit rank of statements
  </button>
</form>
<p class="mt-3">
  You can also
  <a href="{{ url_for('show_batch_query_collective_form', wiki=wiki) }}">
    perform the same action for each statement
  </a>
  or
  <a href="{{ url_for('show_batch_list_individual_form', wiki=wiki) }}">
    provide the statement IDs and ranks as a list</a>.
</p>
{% endblock %}
