{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
<script src="{{ url_for('static', filename='selection-buttons.js') }}"></script>
{% endblock head %}

{% macro format_snak(wiki, property_id, snak) -%}
{%- if snak.snaktype == 'somevalue' -%}
<span class="somevalue">unknown value</span>
{%- elif snak.snaktype == 'novalue' -%}
<span class="novalue">no value</span>
{%- else -%}
{{ format_value(wiki, property_id, snak.datavalue) }}
{%- endif -%}
{%- endmacro %}

{% block main %}
<div id="selection_buttons">
  <noscript>
    Enable JavaScript for “select all”, “select none” and “invert selection” buttons.
    (The rest of the tool works without JavaScript, if you can’t enable it.)
  </noscript>
</div>
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input name="base_revision_id" type="hidden" value="{{ base_revision_id }}">
  {% for statement in statements %}
  <div class="form-check statement-{{ statement.rank }}">
    <input type="checkbox" class="form-check-input" id="{{ statement.id }}" name="{{ statement.id }}">
    <label for="{{ statement.id }}">
      <div class="mainsnak">{{ format_snak(wiki, property_id, statement.mainsnak) }}</div>
      {% if statement.qualifiers %}
      <ul class="qualifiers-list">
        {% for qualifier_property_id in statement.qualifiers %}
        <li>
          {{ format_property(wiki, qualifier_property_id) }}:
          <ul class="snak-list" data-property-id="{{ qualifier_property_id }}">
            {% for qualifier_snak in statement.qualifiers[qualifier_property_id] -%}
            <li>{{ format_snak(wiki, qualifier_property_id, qualifier_snak) }}</li>
            {%- endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </label>
  </div>
  {% endfor %}
  <button
    type="submit"
    class="btn btn-primary"
    formaction="{{ url_for('edit_set_rank', wiki=wiki, entity_id=entity_id, property_id=property_id, rank='preferred') }}"
    {% if not can_edit() %}disabled{% endif %}>Set to preferred rank</button>
  <button
    type="submit"
    class="btn btn-secondary"
    formaction="{{ url_for('edit_set_rank', wiki=wiki, entity_id=entity_id, property_id=property_id, rank='normal') }}"
    {% if not can_edit() %}disabled{% endif %}>Set to normal rank</button>
  <button
    type="submit"
    class="btn btn-secondary"
    formaction="{{ url_for('edit_set_rank', wiki=wiki, entity_id=entity_id, property_id=property_id, rank='deprecated') }}"
    {% if not can_edit() %}disabled{% endif %}>Set to deprecated rank</button>
  {% if not can_edit() %}
  <div class="alert alert-warning" role="alert">
    You must <a href="{{ url_for('login') }}">log in</a> to make edits.
  </div>
  {% endif %}
</form>
{% endblock %}
