{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
<script src="{{ url_for('static', filename='selection-buttons.js') }}"></script>
{% endblock head %}

{% macro format_snak(wiki, property_id, snak) -%}
{%- if snak.snaktype == 'somevalue' -%}
<span class="somevalue">unknown value</span>
{%- elif snak.snaktype == 'novalue' -%}
<span class="novalue">no value</span>
{%- else -%}
{{ format_value(wiki, property_id, snak.datavalue) }}
{%- endif -%}
{%- endmacro %}

{% block main %}
{% set is_mediainfo = entity_id.startswith('M') %}
{% if statements %}
<p>
  You can edit the rank of the following statements:
</p>
<div id="selection_buttons">
  <noscript>
    Enable JavaScript for “select all”, “select none” and “invert selection” buttons.
    (The rest of the tool works without JavaScript, if you can’t enable it.)
  </noscript>
</div>
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input name="base_revision_id" type="hidden" value="{{ base_revision_id }}">
  {% for statement in statements %}
  <div class="form-check statement-{{ statement.rank }}">
    <input type="checkbox" class="form-check-input" id="{{ statement.id }}" name="{{ statement.id }}">
    <label for="{{ statement.id }}">
      <div class="mainsnak">{{ format_snak(wiki, property_id, statement.mainsnak) }}</div>
      {% if statement.qualifiers %}
      <ul class="qualifiers-list">
        {% for qualifier_property_id in statement.qualifiers %}
        <li>
          {{ format_property(wiki, qualifier_property_id) }}:
          <ul class="snak-list" data-property-id="{{ qualifier_property_id }}">
            {% for qualifier_snak in statement.qualifiers[qualifier_property_id] -%}
            <li>{{ format_snak(wiki, qualifier_property_id, qualifier_snak) }}</li>
            {%- endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </label>
  </div>
  {% endfor %}
  <div class="form-group">
    <label for="summary">Edit summary (optional):</label>
    <input name="summary" type="text" id="summary" class="form-control">
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    formaction="{{ url_for('edit_set_rank', wiki=wiki, entity_id=entity_id, property_id=property_id, rank='preferred') }}"
    {% if not can_edit() %}disabled{% endif %}>
    {% if is_mediainfo %}
    Mark as prominent
    {% else %}
    Set to preferred rank
    {% endif %}
  </button>
  <button
    type="submit"
    class="btn btn-secondary"
    formaction="{{ url_for('edit_set_rank', wiki=wiki, entity_id=entity_id, property_id=property_id, rank='normal') }}"
    {% if not can_edit() %}disabled{% endif %}>
    {% if is_mediainfo %}
    Mark as not prominent
    {% else %}
    Set to normal rank
    {% endif %}
  </button>
  {%  if not is_mediainfo %}
  <button
    type="submit"
    class="btn btn-secondary"
    formaction="{{ url_for('edit_set_rank', wiki=wiki, entity_id=entity_id, property_id=property_id, rank='deprecated') }}"
    {% if not can_edit() %}disabled{% endif %}>Set to deprecated rank</button>
  <button
    type="submit"
    class="btn btn-secondary"
    formaction="{{ url_for('edit_increment_rank', wiki=wiki, entity_id=entity_id, property_id=property_id) }}"
    {% if not can_edit() %}disabled{% endif %}>Increment rank</button>
  {% endif %}
  {% if not can_edit() %}
  <div class="alert alert-warning" role="alert">
    You must <a href="{{ url_for('login') }}">log in</a> to make edits.
  </div>
  {% endif %}
</form>
{% else %}
<p class="alert alert-info" role="alert">
  <a href="https://{{ wiki }}/wiki/Special:EntityPage/{{ entity_id }}">
    {{- entity_id -}}
  </a>
  has no statements for
  <a href="https://{{ wiki }}/wiki/Special:EntityPage/{{ property_id }}">
    {{- property_id -}}
  </a>.
</p>
{% endif %}
{% endblock %}
