{% from "reason.html" import reason_input %}
{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
<script defer src="{{ url_for('static', filename='selection-buttons.js') }}"></script>
{% endblock head %}

{% macro format_snak(wiki, property_id, snak) -%}
{%- if snak.snaktype == 'somevalue' -%}
<span class="somevalue">unknown value</span>
{%- elif snak.snaktype == 'novalue' -%}
<span class="novalue">no value</span>
{%- else -%}
{{ format_value(wiki, property_id, snak.datavalue) }}
{%- endif -%}
{%- endmacro %}

{% block main %}
{% set is_mediainfo = entity_id.startswith('M') %}
{% if statements %}
{% if not can_edit() %}
<div class="alert alert-warning" role="alert">
  {{ message('edit-must-log-in', url=url_for('login')) }}
</div>
{% endif %}
<p>
  {% if can_edit() %}
  {{
    message(
     'edit-paragraph-1-logged-in',
     num_statements=statements | length,
     formatted_entity_id=format_entity(wiki, entity_id),
     formatted_property_id=format_entity(wiki, property_id),
    )
  }}
  {% else %}
  {{
    message(
     'edit-paragraph-1-logged-out',
     num_statements=statements | length,
     formatted_entity_id=format_entity(wiki, entity_id),
     formatted_property_id=format_entity(wiki, property_id),
    )
  }}
  {% endif %}
</p>
<div
  id="selection_buttons"
  data-select-all="{{ message('edit-select-all') }}"
  data-select-none="{{ message('edit-select-none') }}"
  data-invert-selection="{{ message('edit-invert-selection') }}"
  >
  <noscript>
    {{ message('edit-noscript') }}
  </noscript>
</div>
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input name="base_revision_id" type="hidden" value="{{ base_revision_id }}">
  {% for statement in statements %}
  <div class="form-check statement statement-{{ statement.rank }}">
    <input type="checkbox" class="form-check-input" id="{{ statement.id }}" name="{{ statement.id }}">
    <label for="{{ statement.id }}">
      <div class="mainsnak">{{ format_snak(wiki, property_id, statement.mainsnak) }}</div>
      {% if statement.qualifiers %}
      <ul class="qualifiers-list">
        {% for qualifier_property_id in statement.qualifiers %}
        <li>
          {% if qualifier_property_id == (wiki | wiki_reason_preferred_property) %}
          {% set qualifier_property_classes = 'rank-reason-preferred' %}
          {% elif qualifier_property_id == (wiki | wiki_reason_deprecated_property) %}
          {% set qualifier_property_classes = 'rank-reason-deprecated' %}
          {% else %}
          {% set qualifier_property_classes = '' %}
          {% endif %}
          <span class="qualifier-property {{ qualifier_property_classes }}">
            {{ format_entity(wiki, qualifier_property_id) }}</span>:
          <ul class="snak-list" data-property-id="{{ qualifier_property_id }}">
            {% for qualifier_snak in statement.qualifiers[qualifier_property_id] -%}
            <li>{{ format_snak(wiki, qualifier_property_id, qualifier_snak) }}</li>
            {%- endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </label>
  </div>
  {% endfor %}
  {{ reason_input(wiki) }}
  <div class="form-group">
    <label for="summary">{{ message('edit-label-summary') }}</label>
    <input name="summary" type="text" id="summary" class="form-control">
  </div>
  {% if can_edit() %}
  {% set disabled_attrs = '' %}
  {% else %}
  {% set disabled_attrs %}disabled title="{{ message('edit-must-log-in', url='') | striptags }}"{% endset %}
  {% endif %}
  <button
    type="submit"
    class="btn btn-primary"
    formaction="{{ url_for('edit_set_rank', wiki=wiki, entity_id=entity_id, property_id=property_id, rank='preferred') }}"
    {{ disabled_attrs }}>
    {% if is_mediainfo %}
    {{ message('edit-button-prominent') }}
    {% else %}
    {{ message('edit-button-preferred') }}
    {% endif %}
  </button>
  <button
    type="submit"
    class="btn btn-secondary"
    formaction="{{ url_for('edit_set_rank', wiki=wiki, entity_id=entity_id, property_id=property_id, rank='normal') }}"
    {{ disabled_attrs }}>
    {% if is_mediainfo %}
    {{ message('edit-button-not-prominent') }}
    {% else %}
    {{ message('edit-button-normal') }}
    {% endif %}
  </button>
  {%  if not is_mediainfo %}
  <button
    type="submit"
    class="btn btn-secondary"
    formaction="{{ url_for('edit_set_rank', wiki=wiki, entity_id=entity_id, property_id=property_id, rank='deprecated') }}"
    {{ disabled_attrs }}>
    {{ message('edit-button-deprecated') }}
  </button>
  <button
    type="submit"
    class="btn btn-secondary"
    formaction="{{ url_for('edit_increment_rank', wiki=wiki, entity_id=entity_id, property_id=property_id) }}"
    {{ disabled_attrs }}>
    {{ message('edit-button-increment') }}
  </button>
  {% endif %}
</form>
{% else %}
<p class="alert alert-info" role="alert">
  {{ message('edit-no-statements', entity=format_entity(wiki, entity_id), property=format_entity(wiki, property_id)) }}
  <a class="btn btn-primary" href="{{ url_for('index', wiki=wiki, entity_id=entity_id, property_id=property_id) }}">
    {{ message('edit-return') }}
  </a>
</p>
{% endif %}
{% endblock %}
