{% extends "base.html" %}

{% block head %}
{{ super() }}
<script defer src="{{ url_for('static', filename='index-entity-id-placeholder.js') }}"></script>
{% endblock head %}

{% block main %}
<h1>Ranker</h1>
<p>
  This tool lets you edit the rank of multiple statements at once.
  <!-- TODO more details -->
</p>
<form method="post">
  <div class="form-group">
    <label for="wiki">Wiki</label>
    <select class="form-control" id="wiki" name="wiki">
      <option value="www.wikidata.org" {% if wiki == "www.wikidata.org" %}selected{% endif %}>Wikidata</option>
      <option value="commons.wikimedia.org" {% if wiki == "commons.wikimedia.org" %}selected{% endif %}>Wikimedia Commons</option>
      <option value="test.wikidata.org" {% if wiki == "test.wikidata.org" %}selected{% endif %}>Test Wikidata</option>
      <option value="test-commons.wikimedia.org" {% if wiki == "test-commons.wikimedia.org" %}selected{% endif %}>Test Wikimedia Commons</option>
    </select>
  </div>
  <div class="form-group">
    <label for="entity_id">Entity ID</label>
    <input
      id="entity_id" class="form-control"
      type="text" name="entity_id"
      required
      pattern="^(?:[QPM][1-9][0-9]*)|(?:L[1-9][0-9]*(?:-[SF][1-9][0-9]*)?)|(?:File:.*)$"
      {# these placeholders are also in static/index-entity-id-placeholder.js #}
      {% if wiki == "www.wikidata.org" or wiki == "test.wikidata.org" or not wiki %}
      placeholder="Q42, P31, L99…"
      {% elif wiki == "commons.wikimedia.org" or wiki == "test-commons.wikimedia.org" %}
      placeholder="M79869096 or File:DSC 0484 2-01.jpg"
      {% endif %}
      {% if entity_id %}value="{{ entity_id }}" {% endif %}
      >
  </div>
  <div class="form-group">
    <label for="property_id">Property ID</label>
    <input
      id="property_id" class="form-control"
      type="text" name="property_id"
      required
      pattern="^P[1-9][0-9]*$"
      placeholder="P361"
      {% if property_id %}value="{{ property_id }}" {% endif %}
      >
  </div>
  <button type="submit" class="btn btn-primary">Select statements</button>
</form>
{% endblock %}
