{% extends "base.html" %}

{% block head %}
{{ super() }}
<script defer src="{{ url_for('static', filename='index-entity-id-placeholder.js') }}"></script>
{% endblock head %}

{% block main %}
<h1>Ranker</h1>
<p>
  This tool lets you edit the rank of multiple statements at once.
  <!-- TODO more details -->
</p>
<form method="post" action="{{ url_for('redirect_edit') }}">
  <div class="form-group">
    <label for="wiki">Wiki</label>
    <select class="form-control" id="wiki" name="wiki">
      <option value="www.wikidata.org" {% if wiki == "www.wikidata.org" %}selected{% endif %}>Wikidata</option>
      <option value="commons.wikimedia.org" {% if wiki == "commons.wikimedia.org" %}selected{% endif %}>Wikimedia Commons</option>
      <option value="test.wikidata.org" {% if wiki == "test.wikidata.org" %}selected{% endif %}>Test Wikidata</option>
      <option value="test-commons.wikimedia.org" {% if wiki == "test-commons.wikimedia.org" %}selected{% endif %}>Test Wikimedia Commons</option>
    </select>
  </div>
  <div class="form-group">
    <label for="entity_id">Entity ID</label>
    <input
      id="entity_id" class="form-control"
      type="text" name="entity_id"
      required
      pattern="^(?:[QPM][1-9][0-9]*)|(?:L[1-9][0-9]*(?:-[SF][1-9][0-9]*)?)|(?:File:.*)$"
      {# these placeholders are also in static/index-entity-id-placeholder.js #}
      {% if wiki == "www.wikidata.org" or wiki == "test.wikidata.org" or not wiki %}
      placeholder="Q42, P31, L99…"
      {% elif wiki == "commons.wikimedia.org" or wiki == "test-commons.wikimedia.org" %}
      placeholder="M79869096 or File:DSC 0484 2-01.jpg"
      {% endif %}
      {% if entity_id %}value="{{ entity_id }}" {% endif %}
      >
  </div>
  <div class="form-group">
    <label for="property_id">Property ID</label>
    <input
      id="property_id" class="form-control"
      type="text" name="property_id"
      required
      pattern="^P[1-9][0-9]*$"
      placeholder="P361"
      {% if property_id %}value="{{ property_id }}" {% endif %}
      >
  </div>
  <button type="submit" class="btn btn-primary">Select statements</button>
</form>
<h2 class="mt-3">Batch mode</h2>
<p>
  Several batch modes are also available.
  You can provide the statements as a list or select them with a SPARQL query,
  and you can perform the same action (set or increment rank) for all statements or specify a rank for each individual statement.
  Please select below which batch mode you want to use.
</p>
<form method="post">
  <table class="table table-bordered">
    <colgroup>
      <col class="col-6">
      <col class="col-3">
      <col class="col-3">
    </colgroup>
    <tr>
      <td>
        <label for="batch-wiki" class="sr-only">Wiki</label>
        <select class="form-control" id="batch-wiki" name="wiki">
          <option value="www.wikidata.org" {% if wiki == "www.wikidata.org" %}selected{% endif %}>Wikidata</option>
          <option value="commons.wikimedia.org" {% if wiki == "commons.wikimedia.org" %}selected{% endif %}>Wikimedia Commons</option>
          <option value="test.wikidata.org" {% if wiki == "test.wikidata.org" %}selected{% endif %}>Test Wikidata</option>
          <option value="test-commons.wikimedia.org" {% if wiki == "test-commons.wikimedia.org" %}selected{% endif %}>Test Wikimedia Commons</option>
        </select>
      </td>
      <th scope="col">list statements</th>
      <th scope="col">query statements</th>
    </tr>
    <tr>
      <th scope="row">same action for all statements</th>
      <td>
        <button
          type="submit"
          class="btn btn-secondary btn-block"
          formaction="{{ url_for('redirect_batch_list_collective') }}">
          go
        </button>
      </td>
      <td>
        <button
          type="submit"
          class="btn btn-secondary btn-block"
          formaction="{{ url_for('redirect_batch_query_collective') }}">
          go
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">specify rank for each statement</th>
      <td>
        <button
          type="submit"
          class="btn btn-secondary btn-block"
          formaction="{{ url_for('redirect_batch_list_individual') }}">
          go
        </button>
      </td>
      <td>
        <button
          type="submit"
          class="btn btn-secondary btn-block"
          formaction="{{ url_for('redirect_batch_query_individual') }}">
          go
        </button>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
