{% extends "base.html" %}

{% block head %}
{{ super() }}
<script defer src="{{ url_for('static', filename='index-entity-id-placeholder.js') }}"></script>
{% endblock head %}

{% block main %}
<h1>{{ message('tool-name') }}</h1>
<p>
  {{ message('index-paragraph-1') }}
</p>
<form method="post" action="{{ url_for('redirect_edit') }}">
  <div class="mb-3">
    <label class="form-label" for="wiki">{{ message('index-label-wiki') }}</label>
    <select class="form-control" id="wiki" name="wiki">
      <option value="www.wikidata.org" {% if wiki == "www.wikidata.org" %}selected{% endif %}>{{ message('index-option-wikidatawiki') }}</option>
      <option value="commons.wikimedia.org" {% if wiki == "commons.wikimedia.org" %}selected{% endif %}>{{ message('index-option-commonswiki') }}</option>
      <option value="test.wikidata.org" {% if wiki == "test.wikidata.org" %}selected{% endif %}>{{ message('index-option-testwikidatawiki') }}</option>
      <option value="test-commons.wikimedia.org" {% if wiki == "test-commons.wikimedia.org" %}selected{% endif %}>{{ message('index-option-testcommonswiki') }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label" for="entity_id">{{ message('index-label-entity-id') }}</label>
    {% set placeholder_entity_id_wikidata = message('index-placeholder-entity-id-wikidata', item_id='Q42', property_id='P31', lexeme_id='L99') | striptags %}
    {% set placeholder_entity_id_commons = message('index-placeholder-entity-id-commons', mediainfo_id='M79869096', file_title='File:DSC 0484 2-01.jpg') | striptags %}
    <input
      id="entity_id" class="form-control"
      type="text" name="entity_id"
      required
      pattern="^(?:[QPM][1-9][0-9]*)|(?:L[1-9][0-9]*(?:-[SF][1-9][0-9]*)?)|(?:File:.*)$"
      data-placeholder-wikidata="{{ placeholder_entity_id_wikidata }}"
      data-placeholder-commons="{{ placeholder_entity_id_commons }}"
      {% if wiki == "www.wikidata.org" or wiki == "test.wikidata.org" or not wiki %}
      placeholder="{{ placeholder_entity_id_wikidata }}"
      {% elif wiki == "commons.wikimedia.org" or wiki == "test-commons.wikimedia.org" %}
      placeholder="{{ placeholder_entity_id_commons }}"
      {% endif %}
      {% if entity_id %}value="{{ entity_id }}" {% endif %}
      >
  </div>
  <div class="mb-3">
    <label class="form-label" for="property_id">{{ message('index-label-property-id') }}</label>
    <input
      id="property_id" class="form-control"
      type="text" name="property_id"
      required
      pattern="^P[1-9][0-9]*$"
      placeholder="P361"
      {% if property_id %}value="{{ property_id }}" {% endif %}
      >
  </div>
  <button type="submit" class="btn btn-primary">{{ message('index-button-submit') }}</button>
</form>
<h2 class="mt-3">{{ message('index-batch-heading') }}</h2>
<p>
  {{ message('index-batch-paragraph-1') }}
</p>
<form method="post">
  <table class="table table-bordered">
    <colgroup>
      <col class="col-6">
      <col class="col-3">
      <col class="col-3">
    </colgroup>
    <tr>
      <td>
        <label class="form-label" for="batch-wiki" class="sr-only">{{ message('index-label-wiki') }}</label>
        <select class="form-control" id="batch-wiki" name="wiki">
      <option value="www.wikidata.org" {% if wiki == "www.wikidata.org" %}selected{% endif %}>{{ message('index-option-wikidatawiki') }}</option>
      <option value="commons.wikimedia.org" {% if wiki == "commons.wikimedia.org" %}selected{% endif %}>{{ message('index-option-commonswiki') }}</option>
      <option value="test.wikidata.org" {% if wiki == "test.wikidata.org" %}selected{% endif %}>{{ message('index-option-testwikidatawiki') }}</option>
      <option value="test-commons.wikimedia.org" {% if wiki == "test-commons.wikimedia.org" %}selected{% endif %}>{{ message('index-option-testcommonswiki') }}</option>
        </select>
      </td>
      <th scope="col">{{ message('index-batch-col-list') }}</th>
      <th scope="col">{{ message('index-batch-col-query') }}</th>
    </tr>
    <tr>
      <th scope="row">{{ message('index-batch-row-collective') }}</th>
      <td>
        <button
          type="submit"
          class="btn btn-secondary w-100"
          formaction="{{ url_for('redirect_batch_list_collective') }}">
          go
        </button>
      </td>
      <td>
        <button
          type="submit"
          class="btn btn-secondary w-100"
          formaction="{{ url_for('redirect_batch_query_collective') }}">
          go
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">{{ message('index-batch-row-individual') }}</th>
      <td>
        <button
          type="submit"
          class="btn btn-secondary w-100"
          formaction="{{ url_for('redirect_batch_list_individual') }}">
          go
        </button>
      </td>
      <td>
        <button
          type="submit"
          class="btn btn-secondary w-100"
          formaction="{{ url_for('redirect_batch_query_individual') }}">
          go
        </button>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
