{% macro reason_input(wiki) %}
{% if wiki | wiki_reason_preferred_property or wiki | wiki_reason_deprecated_property %}
<div class="form-group">
  <label for="reason">
    Reason for
    {% if wiki | wiki_reason_preferred_property %}
    preferred
    {% if wiki | wiki_reason_deprecated_property %} / {% endif %}
    {% endif %}
    {% if wiki | wiki_reason_deprecated_property %}
    deprecated
    {% endif %}
    rank (if applicable; optional)
  </label>
  <input name="reason" pattern="^Q[1-9][0-9]*$" list="reasons" type="text" id="reason" class="form-control">
</div>
<datalist id="reasons">
  {% set preferred_reasons = wiki | wiki_reasons_preferred %}
  {% set deprecated_reasons = wiki | wiki_reasons_deprecated %}
  {% set _ = prefetch_entities(wiki, preferred_reasons + deprecated_reasons) %}
  {% if preferred_reasons %}
  <optgroup label="preferred">
    {% for preferred_reason in preferred_reasons %}
    <option value="{{ preferred_reason }}">{{ format_entity(wiki, preferred_reason) }}</option>
    {% endfor %}
  </optgroup>
  {% endif %}
  {% if deprecated_reasons %}
  <optgroup label="deprecated">
    {% for deprecated_reason in deprecated_reasons %}
    <option value="{{ deprecated_reason }}">{{ format_entity(wiki, deprecated_reason) }}</option>
    {% endfor %}
  </optgroup>
  {% endif %}
</datalist>
{% endif %}
{% endmacro %}
